name: pull_request

on:
  # run on each pull request
  pull_request:
    types: [ synchronize, reopened, labeled ]
    branches:
      - master
      - 'v[0-9]+.*' # release branch
      - ci-test # testing branch for github action

defaults:
  run:
    shell: bash

jobs:
  lint:
    container:
      image: apachepegasus/clang-format-3.9
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: clang-format
        run: ./scripts/linux/run-clang-format.sh

  test:
    name: test
    needs: lint
    runs-on: self-hosted
    if: ${{ contains(github.event.pull_request.labels.*.name, 'ready-for-testing') }}
    runs-on: ubuntu-latest
    container:
      image: apachepegasus/ci-env
      env:
        CCACHE_DIR: /tmp/ccache/pegasus
        CCACHE_MAXSIZE: 10G
      volumes:
        # Place ccache compilation intermediate results in host memory, that's shared among containers.
        - /tmp/ccache/pegasus:/tmp/ccache/pegasus
      # Read docs at https://docs.docker.com/storage/tmpfs/ for more details of using tmpfs in docker.
      options: --mount type=tmpfs,destination=/tmp/ccache/pegasus,tmpfs-size=10737418240 --cap-add=SYS_PTRACE
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: compilation
        run: ./run.sh build --skip_thirdparty
      - name: unit-test
        run: ./run.sh test --skip_thirdparty
